<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Baud</string>
	<key>CFBundleDisplayName</key>
	<string>Baud</string>
	<key>CFBundleIdentifier</key>
	<string>com.baud.mac</string>
	<key>CFBundleVersion</key>
	<string>4</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5.1</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleExecutable</key>
	<string>Baud</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>26.0</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/ssXue/Baud/main/Docs/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>N//cPGnvWqHTTx4Syr/QLJIGFA8/iT3F5bKR+xd/B+U=</string>
	<key>SUEnableAutomaticChecks</key>
	<true/>
	<key>CFBundleLocalizations</key>
	<array>
		<string>en</string>
		<string>zh-Hans</string>
	</array>
</dict>
</plist>
